@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-Italic";
    src: url(../fonts/Poppins-Italic.ttf) format("truetype");
}

:root {
    --regular-font: Poppins, sans-serif;
    --light-font: Poppins-Light, sans-serif;
    --bold-font: Poppins-Bold, sans-serif;
    --italic-font: Poppins-Italic, sans-serif;
    --theme-red: #FC3245;
    --dark-black: #333333;
    --dark-gray: #555555;
    --gray: #999999;
    --light-gray: #E6E6E6;
    --lightest-gray: #F8F8F8;
    --background-color: #ffffff;
    --border-color: #F2F2F2;
}
